<mat-form-field>
  <mat-label>Country Name</mat-label>
  <input matInput [(ngModel)]="cardName" required placeholder="Enter Country Name">
</mat-form-field>
<mat-form-field>
  <mat-label>Country Flag</mat-label>
  <input matInput [(ngModel)]="cardFlag" required placeholder="Enter Flag Url..">
</mat-form-field>
<mat-form-field>
  <mat-label>Continent</mat-label>
  <input matInput [(ngModel)]="cardContinent" placeholder="Enter Continent..">
</mat-form-field>
<button mat-raised-button color="primary" (click)="createCard()">Primary</button>
<div *ngIf="createCard" class="container">
  <div *ngFor="let card of cardList, index as i">
<img src="{{card.flag}}" alt="">
<p>{{card.name}}</p>
<p>{{card.subregion}}</p>
  </div>
</div>
