*{
  box-sizing: border-box;
}


body{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.container {
  display: flex;
  background-color: #f1f1f1;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 100px;
  padding-bottom:0 ;
  text-align: center;
  padding: 30px;

}
img {
  width: 200px;
  height: 100px;
  border: 1px solid black;
  border-bottom: 3px solid black;
}

.form {
  padding: 20px;
}
